<form method="post" action="{{ path('reserva_anular', { 'id': entity.id }) }}" id="FrmAnulaReserva" novalidate="novalidate">
    	<p></p>
    	<div align="center">
            <input type="hidden" name="rubro_id" value="{{entity.id}}">
        <textarea name="nota" ></textarea>
        </div>
	</div>
       <div align="center">
		<a class="btn" data-dismiss="modal">Cancelar </a>
		<button type="submit"  class="btn btn-primary "><i class="icon-ok icon-white"></i>Guardar</button>
	</div>
    </form>

{%block javascripts%}
<script>
</script>
{%endblock%}
