

        <table class="table table-striped">
            <tr>
                <th>Producto</th>
                <th>Piezas</th>
                <th>FBE</th>
            </tr>
            {%for producto in entity.productos%}
            <tr>
                <td>{{producto.nombreProducto}}</td>
                <td>{{producto.piezas}}</td>
                <td>{{producto.fbe}}</td>
            </tr>
            {%endfor%}
        </table>
