

    {%if productos%}
           <table class="table table-striped" style="padding:2px;">
            <tr>
                <th>Nombre</th>
                <th>Piezas</th>
                <th>FBE</th>
            </tr>
            {%for producto in entity.productos%}
            <tr>
                <td>{{producto.nombreProducto}}</td>
                <td>{{producto.piezas}}</td>
                <td>{{producto.fbe}}</td>
            </tr>
            {%endfor%}
        </table>
    {%else%}
        <div class="alert alert-info">No hay productos asociados</div>
    {%endif%}
